<nav>
  <div>Logo</div>

  <ul id="mobile-nav-view" class="mobile_view">
    <button (click)="toggleMobileNav()" id="mobile-nav-close-btn">
      <i class="ri-close-large-line"></i>
    </button>
    <li><a routerLink="/">Home</a></li>
    <li>Man</li>
    <li>Women</li>
    <li>Kids</li>
    <li><a routerLink="home/admin">Admin</a></li>
  </ul>

  <ul class="icon_items">
    <li title="Cart"><i class="ri-shopping-cart-line"></i></li>
    <li title="Search">
      <i class="ri-search-line" (click)="toggleSearch()"></i>
    </li>
    <li id="profile" title="My Profile">
      <a routerLink="profile"><i class="ri-user-line"></i></a>
      <div class="drop_down">
        <ul>
          <li><a routerLink="profile">Settings</a></li>
          <li><a routerLink="check-out">Check Out</a></li>
          <li><a routerLink="order-history">Order History</a></li>
          <li>Log Out</li>
        </ul>
      </div>
    </li>
    <li>
      <button (click)="toggleMobileNav()" class="hamburger">
        <i class="ri-menu-line"></i>
      </button>
    </li>
  </ul>
</nav>

<div id="search-container" class="search">
  <button (click)="toggleSearch()" id="search-close-btn">
    <i class="ri-close-large-line"></i>
  </button>
  <div class="search_field">
    <label for="search"><i class="ri-search-line"></i></label>
    <input type="text" id="search" name="search" placeholder="Search here..." />
    <i class="ri-close-line"></i>
  </div>
</div>
