#admin_container {
  padding: 0 3rem;
}

#admin_container input[type="number"],
#admin_container input[type="text"] {
  height: 50px;
  width: 100%;
  outline: 0;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.admin_input_conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin_img_preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
  min-height: 25dvh;
}

.admin_img_preview > img {
  display: block;
  max-width: 25dvh;
  /* max-width: 500px; */
  /* width: calc(100vw - 5rem);*/
}

.admin_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 8px 0;
}

.admin_button_container button {
  display: inline-block;
  font-size: 1.2rem;
  background-color: var(--first-color);
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: var(--font-semi-bold);
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}

.previewBorder {
  border: 1px solid;
  /* max-height: 150px; */
  border-radius: 10px;
  /* min-height: 150px; */
  padding: 10px;
  overflow: hidden;
  margin-bottom: 6px;
}

.description {
  margin-top: 10px;
  text-overflow: ellipsis;
  display: block;
  max-height: 100px;
  overflow: hidden auto;
}

.data_image {
  width: 25%;
  margin-right: 6px;
}

.flex {
  display: flex;
}
