<!-- Slider main container -->
<div class="swiper">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide" *ngFor="let images of devImages; index as i">
      <picture>
        <source media="(min-width:650px)" [srcset]="images.primary" />
        <img [src]="images.secondary" alt="Flowers" />
      </picture>
    </div>
    <div class="swiper-slide" *ngFor="let images of devImages; index as i">
      <picture>
        <source media="(min-width:650px)" [srcset]="images.primary" />
        <img [src]="images.secondary" alt="Flowers" />
      </picture>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<!-- Cards main container -->
<section class="products">
  <div class="cards_categories">
    <h1>Categories</h1>
    <ul>
      <li (click)="loadAllCards()">All</li>
      <li (click)="loadCategoryData('boots')">Boots</li>
      <li (click)="loadCategoryData('shoes')">Shoes</li>
      <li (click)="loadCategoryData('sandals')">Sandals</li>
      <li (click)="loadCategoryData('slipper')">Slipper</li>
      <li (click)="loadCategoryData('jogging')">Jogging</li>
    </ul>
  </div>
  <div *ngIf="cards.length > 0; else elseBlock">
    <app-product-cards [cardItems]="cards" />
  </div>
  <ng-template #elseBlock>
    <div class="empty-card">
      <h1>No Product</h1>
    </div>
  </ng-template>
</section>
