<div class="ab-main">
  <span class="ab">About Us</span>
  <div class="ab-top">
    <div class="ab-top-content">
      <h1><span>Introduction</span> To Best Shoes Website!</h1>
     <div class="two-part">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa atque
        adipisci modi veniam in quasi excepturi impedit tempora repellendus
        iure.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa atque
        adipisci modi veniam in quasi excepturi impedit tempora repellendus
        iure.
      </p>
     </div>
    </div>
    <div class="ab-top-card">
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
          <h4>Best Price</h4>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
      </div>
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
          <h4>Best Price</h4>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
      </div>
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
          <h4>Best Price</h4>
          <span>Lorem ipsum dolor sit amet</span>
        </div>
      </div>
    </div>
    <div class="ab-top-pic">
      <img src="../../../assets/dev-images/akash/gr.jpg" alt="" />
      <div class="ab-video">
        <video src="../../../assets/dev-images/akash/run.mp4" poster="../../../assets/dev-images/landscape3.jpg" loop muted autoplay="autoplay"></video>
      </div>
    </div>
  </div>
  <div class="ab-bottom">
    <span id="ab-our-team">our team</span>
    <h2><span>Team </span>Member</h2>
    <p class="ab-team">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse explicabo
      omnis facere, laudantium accusamus obcaecati?
    </p>
    <div class="ab-bottom-card">
      <!-- social-card.component.html -->
      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/aka.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Akash Prajapati</h3>
          <p class="profile-description">TYBCA</p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>
      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/boy.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Rahul Prajapati</h3>
          <p class="profile-description">TYBCA</p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>

      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/noman.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Noman Kalelkar</h3>
          <p class="profile-description">TYBCA</p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>

      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/himmat.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Himmat Dasana</h3>
          <p class="profile-description">TYBCA</p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>




    </div>

    <button class="add-to-cart-btn">
      <span class="icon"><i class="ri-shopping-cart-line"></i></span>
      Contact Us
    </button>
  </div>
</div>
