.ab-main {
  width: 100%;
  min-height: 100vh;
  background-color: #ebe0f4 ;
}

.ab-top {
  width: 100%;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ab-main .ab {
  padding: 0.2rem 0.8rem;
  margin-left: 6rem;
  margin-top: 2rem;
  padding-bottom: 0;
  display: inline-block;
  justify-content: flex-start;
  background-color: aliceblue;
  border-radius: 5px;
}

.ab-top-content {
  display: flex;
  gap: 6rem;
}
.two-part{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.ab-top h1 {
  display: inline-block;
  width: 15rem;
  line-height: 2rem;
  color: #3b204b;
}

.two-part p {
  display: inline-block;
  color: #9765b8;
  font-weight: 600;
  /* width: 25rem; */
}

.ab-top-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 41px;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
}
.ab-top-content span{
  color: #9765b8;
}

.ab-top-card .f1 {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 18vh;
    border-radius: 15px;
    padding: 1rem;
    gap: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.f1{
  background: rgba(255, 255, 255, 0.32);
border-radius: 18px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
border: 2px solid rgba(255, 255, 255, 1);
  /* background-color: #e2d3ee; */
}
.f1 img {
  width: 25%;
  height: 85%;
  border-radius: 50%;
}
.f1 h4{
  color: #3b204b;
}
.f1 span{
  color: #57396a;
}
.ab-top-pic{
  position: relative;
}
.ab-top-pic img {
  border-radius: 15px;
  width: 55vw;
  height: 54vh;
  overflow: hidden;
  object-fit: cover;
}

.ab-video{
  position: absolute;
  /* width: 37vw; */
  height: 34vh;
  left: 76%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* border-radius: 20px; */
  border-radius: 20px;
  overflow: hidden;
  /* border: 4px solid rgb(226, 226, 29); */
}
.ab-video video{
  /* border-radius: 20px; */

  /* width: 100%; */
  height: 100%;
}

/* bo */
.ab-bottom-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.ab-bottom {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem;
}
.ab-bottom h2{
  color: #3b204b;
}
.ab-bottom p{
  color: #9765b8;
  font-weight: 600;
}

.ab-bottom .ab-team {
  width: 40dvw;
  text-align: center;
}

#ab-our-team {
  padding: 0.2rem 0.8rem;

  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid rgb(20, 20, 20);
}
/* social-card.component.css */

.social-card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-radius: 34% 21% 22% 25% / 25% 28% 47% 38%;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
/* border-radius: 10px; */
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-name {
  font-size: 20px;
  margin-top: 10px;
}

.profile-description {
  font-size: 16px;
  color: #666;
}

.social-links {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.social-icon {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #9765b8;
}

.add-to-cart-btn {
  margin: 1rem 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1.1em;
  font-weight: bold;
  /* border: none; */
  border: 1px solid #6b4683;
  border-radius: 20px;
  /* background-color: #007bff; */
  color: #6b4683;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}



.add-to-cart-btn:hover {
  background-color: #6b4683;
  color: #faf8fc;
  transform: scale(1.05);
}

.add-to-cart-btn .icon {
  margin-right: 5px;
}

.add-to-cart-btn .icon i {
  font-size: 1.1rem;
}

@media only screen and (max-width: 866px) {
  .ab-top-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .ab-top h1 {
    font-size: 6vw;
    /* min-width: 30rem; */
    line-height: 2.5rem;
  }

  .ab-top-card .f1{
    width: 36vw;
  }

}
@media only screen and (max-width: 633px) {
  .ab-top-card .f1{
    width: 67vw;
    height: 20vh;
  }
  .two-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
  }
}
@media only screen and (max-width: 633px) {
  .ab-top h1 {
    font-size: 6vw;
        line-height: 2rem;
  }
}
@media only screen and (max-width: 350px) {
  .ab-top {
    padding: 1rem 3rem;
  }
}

