/* Google Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* SwiperJS CSS */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* side */

.sidepanel {
  /* height: 100vh; */
  height: -webkit-fill-available;
  width: 300px;
  transition: all 0.5s ease-in-out;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidepanel.active {
  left: 100%;
}

.sidepanel .closebtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media only screen and (min-width: 600px) {
  .sidepanel.active {
    width: 20rem;
    left: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .open-button {
    bottom: 10px;
    left: 10px;
  }

  .sidepanel.active {
    width: 80%;
    left: 100%;
  }
}

.cart-side-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.sidepanel-quantity-price {
  width: 60%;
}

.panel-btn {
  height: 2rem;
  width: 3rem;
  font-size: 1rem;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.cart-item img {
  width: 30%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cart-item .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.quantity input {
  text-align: center;
}

.ri-shopping-cart-fill {
  color: #000;
  font-size: x-large;
  text-align: center;
}
