<footer>
  <div class="footerContainer">
    <div class="socialIcons">
      <a href="#"><i class="ri-facebook-circle-line"></i></a>
      <a href="#"><i class="ri-instagram-line"></i></a>
      <a href="#"><i class="ri-twitter-x-line"></i></a>
      <a href="#"><i class="ri-google-line"></i></a>
      <a href="#"><i class="ri-youtube-line"></i></a>
    </div>
    <div class="footerNav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">News</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact Us</a></li>
        <li><a href="">our Team</a></li>
      </ul>
    </div>
  </div>
  <div class="footerBottom">
    <p>Copyright &copy;2023; Designed by <span class="designer">Noman</span></p>
  </div>
</footer>
